@import "../../../index.module.scss";


.containerProject {
  @include xl {
    width: 90%;
    position: relative;
  }

  width: 100%;
  position: relative;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @include xl {
    grid-template-columns: 50% 1fr;

  }
}

.image {
  width: 100%;
  height: auto;

  @include xl {
    width: auto;
    height: 15vw;
  }
}

.generalContainerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  *h2 {
    text-align: center;
  }
  .icon{
    padding-top: 1rem;
  }
}
