* {
  font-family: "karu-Regular";
  padding: 0;
  margin: 0;

}
:root {
  color-scheme: light only;
  background-color: #1d1e1f;
}
::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #dac5a780; 
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb:hover {
  background: #dac5a7; 
}
h1, h2{
  white-space: 100%;
  line-height: 100%;
  font-family: Adine-Regular;
  font-weight: 400;
  letter-spacing: 0.06rem;

}
h1{
  font-size: 6rem;
}
h2{
  font-size:  4rem;
}
h3, h4, p, small, sup, sup, em {
  font-family: karu-Medium;
  letter-spacing: 0.1rem;

}
h3, small {
  font-family: karu-Regular;

}
h4, p{
  font-weight: 1;
  font-family: karu-Regular;
}
small, sup, sub,em{
  font-size:  0.8rem;
}
h3{
  font-size:  1.8rem;
  padding-bottom: 1rem;
}
h4{
  font-size:  1.4rem;
  padding-bottom: 1rem;
}
p{
  font-size:  1rem;
  font-weight: 50;
  line-height: 150%;

}
sub{
  font-size:  0.8rem;
  letter-spacing: 0.03rem;
  font-weight: 600;
}

.light {
  background-color: #d8dbea;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "karu-Black";
  src: url("../public/fonts/Karu/karu-black.ttf");
}

@font-face {
  font-family: "karu-Bold";
  src: url("../public/fonts/Karu/karu-bold.ttf");
}

@font-face {
  font-family: "karu-Medium";
  src: url("../public/fonts/Karu/karu-medium.ttf");
}

@font-face {
  font-family: "karu-Regular";
  src: url("../public/fonts/Karu/karu-regular.ttf");
}
@font-face {
  font-family: "Adine-Regular";
  src: url("../public/fonts/adinekirnberg-script/AdineKirnberg-Script.ttf");
}